<app-navbar></app-navbar>
<div class="container flex mt-10 mx-auto">
  <div class="w-1/5 mr-4">
    <ul class="flex flex-col font-medium text-gray-700 mb-10">
      <li>
        <a class="py-1 px-3 block">
          <fa-icon [icon]="faTrello"></fa-icon> Tableros
        </a>
      </li>
      <li>
        <a class="py-1 px-3 block">
          <fa-icon [icon]="faBox"> </fa-icon> Plantillas
        </a>
      </li>
      <li>
        <a  class="py-1 px-3 block">
          <fa-icon [icon]="faWaveSquare"></fa-icon> Inicio
        </a>
      </li>
    </ul>

    <cdk-accordion>
      <cdk-accordion-item #accordionMenu="cdkAccordionItem">
        <button class="w-full py-1 px-2 flex justify-between items-center" type="button" (click)="accordionMenu.toggle()">
          My workspace
          <fa-icon [icon]="accordionMenu.expanded ? faAngleUp : faAngleDown"></fa-icon>
        </button>
        <div [style.display]="accordionMenu.expanded ? '' : 'none' ">
          <ul class="ml-2 flex flex-col text-sm text-gray-700">
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faTrello"></fa-icon> Boards</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faHeart"></fa-icon> Highlights</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faBorderAll"></fa-icon> Views</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faUsers"></fa-icon> Members</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faGear"></fa-icon> Settings</a
              >
            </li>
          </ul>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>

    <cdk-accordion>
      <cdk-accordion-item #accordionItem="cdkAccordionItem" *ngFor="let item of items">
        <button type="button" class="w-full text-left" (click)="accordionItem.toggle()">{{item.label}}</button>
        <div [style.display]="accordionItem.expanded ? '' : 'none'">
          <ul>
            <li *ngFor="let subitem of item.items">{{subitem.label}}</li>
          </ul>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>


  <div class="w-full">
    <div>
      <h1 class="text-lg font-bold mb-3">
        <fa-icon [icon]="faClock"></fa-icon> Recent
      </h1>
    </div>
    <div class="grid grid-cols-4 gap-4">
      <div class="w-full bg-sky-400 px-4 py-2 rounded text-white font-bold h-24"> Board preview</div>
      <div class="w-full bg-green-600 px-4 py-2 rounded text-white font-bold h-24"> Board preview</div>
      <div class="w-full bg-yellow-400 px-4 py-2 rounded text-white font-bold h-24"> Board preview</div>
      <div class="w-full bg-purple-500 px-4 py-2 rounded text-white font-bold h-24"> Board preview</div>
      <div class="w-full bg-red-600 px-4 py-2 rounded text-white font-bold h-24"> Board preview</div>
    </div>
  </div>
</div>
