<div class="flex flex-col min-h-screen">
  <app-navbar></app-navbar>
  <div class="w-full grow bg-sky-600 px-4 pb-4 overflow-x-scroll">
    <div>
      <h2 class="text-xl font-bold text-white my-4">Demo Board</h2>
    </div>
    <div class="flex grow h-full"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropColumn($event)"
    [cdkDropListData]="this.columns"
    >

      <div class="flex grow items-start w-full h-full" cdkDropListGroup>
        <div class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0" cdkDrag *ngFor="let column of columns; let i = index">
          <div class="flex justify-between py-1">
            <h3 class="text-sm font-bold ml-2"> {{ column.title }}</h3>
          </div>

          <div class="text-sm mt-2 min-h-[2.5rem]" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="column.todos">
            <div
            *ngFor="let item of column.todos"
              cdkDrag
              class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
            >
              {{ item.tittle }}
            </div>
          </div>
          <div class="shrink-0">
            <button  (click)="showInputAddToDo(i)"
            [style.display]="showInputToDo === i ? 'none' : ''"
            >
            <a class="block py-1 px-3">
                <fa-icon [icon]="faPlus"></fa-icon>
                 Add ToDo
            </a>
            </button>
            <div class="flex-col" *ngIf="i == showInputToDo">
              <input class="w-full rounded-lg border-none" type="text" [(ngModel)]="nameNewToDo" placeholder="Titulo de la ToDo">
              <div class="flex mt-2">
                <button (click)="addToDo(column)"
                type="btn"
                class="text-white px-5 py-3 font-medium rounded text-sm bg-sky-500"
                >
                  Add ToDo
                </button>
                <a class="flex py-1 px-3 align-middle" (click)="closeAddToDo()">
                  <fa-icon class="mt-1" [icon]="faX"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="shrink-0">
          <button  class="text-white  bg-blue-700" (click)="showInputAddColumns()"
          [style.display]="showInput ? 'none' : ''"
          >
            <a class="block py-1 px-3">
              <fa-icon [icon]="faPlus"></fa-icon>
              Add columns
            </a>
          </button>
          <div class="flex-col bg-slate-300 rounded p-1" *ngIf="showInput">
            <input class="w-full rounded-lg border-none" type="text" [(ngModel)]="nameNewColumn" placeholder="Titulo de columna">
            <div class="flex mt-2">
              <button (click)="addColumn()"
                  type="btn"
                  class="text-white px-5 py-3 font-medium rounded text-sm bg-sky-500"
                  >
                    Add Column
              </button>
              <a class="flex py-1 px-3 align-middle" (click)="showInputAddColumns()">
                <fa-icon class="mt-1" [icon]="faX"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
